@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=8a5ed7b23ab6b0cad957101f2122259f'); /* IE9 */
    src: url('iconfont.eot?t=8a5ed7b23ab6b0cad957101f2122259f#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=8a5ed7b23ab6b0cad957101f2122259f') format('woff2'),
    url('iconfont.woff?t=8a5ed7b23ab6b0cad957101f2122259f') format('woff'), /* chromeã€firefox */
    url('iconfont.ttf?t=8a5ed7b23ab6b0cad957101f2122259f') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=8a5ed7b23ab6b0cad957101f2122259f#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icat-about:before {
    content: "\e001";
}
.icat-link:before {
    content: "\e002";
}
.icat-precious-deposits:before {
    content: "\e003";
}
.icat-essay:before {
    content: "\e004";
}
.icat-inbox:before {
    content: "\e005";
}
.icat-square:before {
    content: "\e006";
}
.icat-subway:before {
    content: "\e007";
}
.icat-random:before {
    content: "\e008";
}
.icat-search:before {
    content: "\e009";
}
.icat-bars:before {
    content: "\e00a";
}
.icat-calendar:before {
    content: "\e00e";
}
.icat-categories:before {
    content: "\e00f";
}
.icat-quantity:before {
    content: "\e010";
}
.icat-time-fill:before {
    content: "\e011";
}
.icat-gift:before {
    content: "\e012";
}
.icat-thumbs:before {
    content: "\e013";
}
.icat-toc:before {
    content: "\e014";
}
.icat-qq:before {
    content: "\e015";
}
.icat-tg:before {
    content: "\e016";
}
.icat-rss:before {
    content: "\e017";
}
.icat-tags:before {
    content: "\e018";
}
.icat-archives:before {
    content: "\e019";
}
.icat-chart-line:before {
    content: "\e01a";
}
.icat-message:before {
    content: "\e01c";
}
.icat-angle-left:before {
    content: "\e01d";
}
.icat-angle-right:before {
    content: "\e01e";
}
.icat-refresh:before {
    content: "\e020";
}
.icat-changing-over:before {
    content: "\e022";
}
.icat-new-window:before {
    content: "\e023";
}
.icat-jump-link:before {
    content: "\e024";
}
.icat-read:before {
    content: "\e025";
}
.icat-download-save:before {
    content: "\e026";
}
.icat-baidu:before {
    content: "\e027";
}
.icat-copy-paste:before {
    content: "\e028";
}
.icat-full-screen:before {
    content: "\e029";
}
.icat-simple-complex:before {
    content: "\e02a";
}
.icat-conceal:before {
    content: "\e02b";
}
.icat-cc:before {
    content: "\e02c";
}
.icat-photos:before {
    content: "\e02d";
}
.icat-play:before {
    content: "\e02f";
}
.icat-51la:before {
    content: "\e030";
}
.icat-music:before {
    content: "\e031";
}
.icat-alipay:before {
    content: "\e032";
}
.icat-weixin:before {
    content: "\e033";
}
.icat-publish-location:before {
    content: "\e034";
}
.icat-chat-records:before {
    content: "\e035";
}
.icat-Ai-Summary:before {
    content: "\e036";
}
.icat-comments:before {
    content: "\e037";
}
.icat-head-tags:before {
    content: "\e038";
}
.icat-post-cc:before {
    content: "\e039";
}
.icat-home:before {
    content: "\e03a";
}
.icat-visitor:before {
    content: "\e03b";
}
.icat-go-right:before {
    content: "\e03c";
}
.icat-star-half:before {
    content: "\e03d";
}
.icat-star-empty:before {
    content: "\e03e";
}
.icat-star:before {
    content: "\e03f";
}
.icat-project:before {
    content: "\e040";
}
.icat-project-complete:before {
    content: "\e041";
}
.icat-bullhorn:before {
    content: "\e042";
}
.icat-thumbtack:before {
    content: "\e043";
}
.icat-GitHub:before {
    content: "\e044";
}
.icat-arrow-up:before {
    content: "\e045";
}
.icat-adjust:before {
    content: "\e046";
}
.icat-cog:before {
    content: "\e047";
}
.icat-book-open:before {
    content: "\e048";
}
.icat-angle-down:before {
    content: "\e049";
}
.icat-close:before {
    content: "\e04a";
}
.icat-danmu:before {
    content: "\e04b";
}
.icat-chevron-right:before {
    content: "\e04c";
}
.icat-chevron-left:before {
    content: "\e04d";
}
.icat-chevron-too:before {
    content: "\e04e";
}
.icat-comments-author:before {
    content: "\e04f";
}
.icat-aifadian:before {
    content: "\e052";
}
.icat-angle-down-new:before {
    content: "\e053";
}
.icat-spinner:before {
    content: "\e054";
}
.icat-subscribe-to:before {
    content: "\e055";
}
.icat-operate:before {
    content: "\e056";
}
.icat-note-success:before {
    content: "\e057";
}
.icat-note-info:before {
    content: "\e058";
}
.icat-note-warning:before {
    content: "\e059";
}
.icat-note-danger:before {
    content: "\e05a";
}
.icat-angle-double-down:before {
    content: "\e05b";
}
.icat-zhihu:before {
    content: "\e05c";
}
.icat-jianshu:before {
    content: "\e05d";
}
.icat-wechat:before {
    content: "\e05e";
}
.icat-juejin:before {
    content: "\e05f";
}
.icat-essay-mini:before {
    content: "\e060";
}
.icat-yixiaofeng:before {
    content: "\e061";
}
.icat-video:before {
    content: "\e062";
}
.icat-bilibili:before {
    content: "\e063";
}
.icat-right-btn:before {
    content: "\e064";
}
.icat-clipboar:before {
    content: "\e065";
}
.icat-exit-mode:before {
    content: "\e066";
}